# Installed application and user data
/app/*
!/app/.gitkeep
/app-backup-*/
/app-broken-*/

# Temporary extraction and downloads
/portable-temp/
/qbittorrent_*_setup.exe
/qbittorrent_*_setup.exe.partial
*.exe

# Generated at runtime
/updater_events.log
/qBittorrent Portable.lnk


# Other
.cursorignore
